/* CSS Document */

/* CSS Document */
.foto1{
float:left;
margin-left:18px;
margin-right:18px;
margin-top:15px;
margin-bottom:10px;
padding:2px;
border:1px #000000 solid;
}

.img{
width:21px; 
height:19px;
margin:0px; 
padding:0px; 
margin-bottom:-7px; 
margin-right:7px;
}



.foto2{
float:right;
margin-left:1px;
margin-right:1px;
margin-top:5px;
margin-bottom:5px;
border-radius:3px;
border-color:#000000;
}

.Menudiv{
width:170px;
padding:0px;
margin:10px;
float:left;
border:1px #D5FFD5 solid;
}


.letra2{
color: #7E7E7E;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;    
padding:0px;  
font-weight:normal;
}
.letra1{
color:#0053A6;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
height:20px;
text-align:left;
clear:both;
}

p{
margin-bottom:12px;
margin-top:12px;
margin-left:15px;
margin-right:15px;
border-top:1px #F9F9F9 solid;
text-align:left;
}


