#lista li a{
	color:#000000;
	list-style:none;
	display:block;
	text-align:left;
	margin:0px;
	height:30px;
	width:350px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	padding-left:25px;
	border-bottom:1px #F8F8F8 solid;
	padding-top:10px;
}

#lista li{
   
	margin-left:-40px;
	padding:0px;	
	text-decoration: none;
	text-align:center;	
	border:none;	
	cursor:pointer;
	margin-top:5px;
	
}


#lista li a:hover{
	color:#FFFFFF;
	background-color:#008000;
	font-weight:bold;	
}
